[color]
  ui = auto

[alias]
  st = status
  di = diff
  dc = diff --cached
  ds = diff --stat=160,120
  aa = add --all
  ai = add -i
  ci = commit
  co = checkout
  fe = fetch
  amend = commit --amend
  all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
  fp = push --force-with-lease
  cia = commit --amend --no-edit

  # Fancy logging.
  # h = head
  # hp = head with patch
  # r = recent commits, only current branch
  # ra = recent commits, all reachable refs
  # l = all commits, only current branch
  # la = all commits, all reachable refs
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
  rsh = reset --hard @{u}

[pager]
  diff = less -F -X
[push]
	default = current
[pull]
	default = current
[core]
	editor = vim
	excludesfile = /Users/taylorhoward/.gitignore
[user]
	name = Taylor Ray Howard
	email = taylor@taylorrayhoward.com
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red

